@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  background-color: #f6eae7;
}
.title {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
  height: 22rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
img {
  width: 20rem;
  height: 10rem;
  border-radius: 0.2rem;
  object-fit: cover;
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
}
.caption {
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 0.5rem;
}
.fishName {
  font-size: 1.2rem;
  font-weight: 500;
}
.fishHarvestType {
  font-size: 0.85rem;
  font-weight: 500;
}
.info {
  display: flex;
  flex-direction: column;
}
